html, body {
    padding: 0;
    margin: 0;
    background-color: lightgray;
    font-family: 'Roboto', sans-serif;
}

header{
    grid-area: header;
}

aside{
    grid-area: aside;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

.contenedor-grid{
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-areas:
        'header header'
        'aside main'
        'footer footer';
    height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.8rem;
    height: 100%;
}