html, body {
    padding: 0;
    margin: 0;
    background-color: lightgray;
    font-family: 'Roboto', sans-serif;
}

header{
    grid-area: header;
    text-align: center;
    background-color: #1e365a;
    color: #f0f8ff;
    padding: 1rem;
}

aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2%;
    margin: 0;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

.contenedor-grid{
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-areas:
        'header header'
        'aside main'
        'footer footer';
    height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.8rem;
    height: 100%;
}

.contenedor-menu{

}

ul {
    padding-left: 10%;
    margin-top: 0;
}

li {
    list-style: none;
    line-height: 2;
    text-align: left;
}

a{
    text-decoration: none;
    color: #000;
}

.cantidad{
    color: #767879;
    font-style: oblique;
    font-size: small;
}

.liCategoria:hover{
    color: #767879;
}